html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #e0e7aa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#desc {
    padding-left: 10px;
    padding-right: 15px;
    text-align: justify;
}

.card {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 15px;
    width: 80%;
    min-width: 300px;
    max-width: 600px;
    padding-left: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    gap: 20px;
}

h1,
h2 {
    margin: 0;

}

.portrait {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #000000;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: grid;
    grid-template-areas:
        "name-job"
        "description"
        "contacts";
}

.name-job {
    grid-area: name-job;
}

.description {
    grid-area: description;
}

.contacts {
    grid-area: contacts;
}

@media (max-width: 400px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "portrait" 
            "info";
        padding: 0;
    }

    .info {
        text-align: center;
        padding: 20px;
    }
}