html{
    margin: 0 20px 0 20px;
}
h1{
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline orange;
}

ol{
    margin-top: 5px;
    margin-bottom: 0;
}

.Consigne{
    border: 2px solid rgb(17, 132, 7);
        /* Une bordure noire de 2px */
        padding: 5px;
        /* Espace entre le texte et la bordure */
        display: inline-block;
        /* S'assurer que la bordure s'adapte au texte */
        margin: 0 20px;
            /* Décalage de 20px à droite et à gauche */
}
em{
    text-decoration: underline green;
}
p{}
.Resultat{
    border: 3px solid black;
    /* Une bordure noire de 2px */
    padding: 20px;
    /* Espace entre le texte et la bordure */
    border-radius: 10px;
    /* Coins arrondis */
    display: inline-block;
    /* S'assurer que la bordure s'adapte au texte */
    margin: 0 100px 0 100px;
}