body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    padding: 20px;
    text-align: center;
}

#characters-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img.character-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.attribute {
    font-weight: bold;
    margin-right: 10px;
}

.character-detail {
    margin: 8px;
}