.header {
    text-align: center;
    color: #5A2D0C;
    background-color: #FFEBCD;
    padding: 20px;
    font-weight: bold;
}

body {
    font-family: "Helvetica", sans-serif;
}

.menu-list {
    list-style: none;
    padding: 20px;
    background-color: lavender;
    font-size: 20px;
}

.menu-item {
    font-size: 18px;
    display: block;
}

.menu-list li {
    position: relative;
    margin-left: 40px;
    padding-bottom: 10px;
}

.menu-list li::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 2px;
    width: 24px;
    height: 24px;
    background-image: url("https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/svg/2615.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.Coffee-image {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 100px;
    position: relative;
    z-index: 2;
    float: right;
    height: 190px;
    width: 150px;
}